@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap");

:root {
  font-family: "Alkatra", serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #1e1717;
  --secondary-color: #e91d2a;
  --tertiary-color: #f0c427;
  --four-color: #88498f;
  --text-color: #f4f1de;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#hero {
  box-sizing: border-box;
  height: 80vh;
  width: 99vw;
  background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.371)),
    url(assets/MICKEYRUBYGUNN.jpg) no-repeat center / cover;
  /* border: var(--secondary-color) dashed 20px; */
  border-left: transparent;
  border-right: transparent;
  margin: 50px auto;
  box-shadow: 0 20px 20px var(--secondary-color),
    0 -20px 20px var(--secondary-color);
}

#hero img {
  filter: invert(20%) sepia(72%) saturate(6245%) hue-rotate(348deg)
    brightness(94%) contrast(94%);
  width: 800px;
}

.container {
  max-width: 1200px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.6em;
  margin: 0px auto;
  text-align: center;
}

.container h1 {
  max-width: 80%;
  margin: 5% 0px 0px;
}

.container p {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  columns: 2;
}

.question p {
  background-color: white;
}
.question h1 {
  background-color: green;
}
.question img {
  background-color: #f0c427;
}
